/* --------------------------
Keyframes
--------------------------- */


@keyframes slide {
50% {
  transform: translate3d(0,-10px,0);
}
80% {
  transform: translate3d(0,10px,0);
}
100% {
  transform: translate3d(0,0,0);
}
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
  }
}



@keyframes turn {
  0% {
    transform: rotate(0) scale(0);
    opacity: 0;
  }
  60% {
    transform: rotate(375deg) scale(1.1);
  }
  80% {
    transform: rotate(355deg) scale(0.9);/*Scale & rotate backwards for bounce effect*/
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}
/* Animate the offset in a path's stroke*/
@keyframes offset{
  100%{
    stroke-dashoffset: 0;
  }
}
/* Fill text of #logo-brand on page load after fill set to transparent in html */
@keyframes fill-brand {
100% {
  fill: #EAAA7F;
}
}

@keyframes fill-nav {
100% {
fill:#39add1;
}
}

@keyframes fill-hover {
100% {
fill: #2D3339;

}
}

/* Paired with .rotator classes beginning on line 206 of mobileBase.scss */
$animation-duration: 6.5s;
$rotator-items: 3;

@-webkit-keyframes rotateBanner {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3ex);
            transform: translateY(-3ex);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  35% {
    opacity: 0;
    -webkit-transform: translateY(3ex);
            transform: translateY(3ex);
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotateBanner {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3ex);
            transform: translateY(-3ex);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  35% {
    opacity: 0;
    -webkit-transform: translateY(3ex);
            transform: translateY(3ex);
  }
  100% {
    opacity: 0;
  }
}
.box {
  width: 0.5em;
  height: 0.95ex;
  background-color: white;
}
