/* Footer styles */
footer{
  @include fixed_footer_nav;
  background-color: rgba(45, 43, 46, 0.8);
  padding: 20px 0px;

}

footer ul{
  @include flex;
  justify-content: center;
  @include footer_ul;
  list-style-type: none;
}


a.social {
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .7;
  transition: all .5s;
}




a.social:hover {
  opacity: 1;

}
/*.clearfix {
  clear: both;
}*/
a.twitter{
  background-image: url(../images/twitter.svg);

}
a.youtube{
 background-image:  url(../images/youtube3.svg);
}
a.facebook {
  background-image: url(../images/facebook-square.svg);


}
a.linkedIn{
  background-image: url(../images/linkedin.svg);

}

/*a.spotify{
  background-image: url(../img/spotify-32copy.png);


}*/

a.soundcloud{
  background-image: url(../images/soundcloud.svg);
}
.copyright{
  text-align: center;
  margin-top: 20px;
  color: $sand;
}
