#toggle{
  @include mobile_left_toggle_2;
  /*border-radius: 50%;*/
  margin-right: em(10px);
  top: 30px;
  /*border: 5px solid $red;*/
  /*display: none;*/
/*  background-color: $white;*/
  @media #{$mobile_small}{
    margin-right: em(1.5px);
    // width: em(42px);
    // height: em(42px);
  }
}

#closeLightbox {
	right: 0;
	top: 0;
	background: url('../img/close.png') right 48% no-repeat;
  background-color:  rgba(0,0,0,0.7);
	content: "";
	height: em(100px);
/*	width: em(500px);*/
  width:120%;
	position: fixed;
	margin-right: em(40px);
}

#emptyDiv{
  width: 100%;
  height: em(50px);

}

#firebugNav{
  height: em(84px);
  width: em(190px);
  margin-top: em(-35px);

}


.logo-brand:hover{
 fill: $sand;
/*  stroke: $red;
  stroke-width: 3;
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: offset 5s linear forwards, fill-brand .8s 2s forwards;*/
}

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  top:0;
  left:0;
  display:none;
  text-align:center;
}


.main-nav {
  @include fixed_header2;
  min-height: em(50px);
  width: 100%;
  background: rgba(45, 43, 48, 0.8);
  opacity: 1;
  z-index: 20;

  /*text-align: center;*/
}

.nav {
  @include flex;
  @include flex_column;
  @include flex_justify_center;
  @include flex_align_center;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  @include bp(tablet){
    @include flex_justify_space_around;
    @include flex_row;
    max-width: em(1200px);
    padding: 0 em(30px);
    max-height: em(32px);
  }

}

.nav .name {
  /*display: block;*/
  margin: auto;
  font-family: $stack-garamond;
  text-align: center;
  color: $white;
  letter-spacing: 5px;
  font-weight: $font-weight--bold;
  @include bp(tablet){
    margin-right: 26%;
    display: block;
    font-size: $font_size__h4;
    letter-spacing: em(2px);

  }
  @include bp(fullscreen){
    margin-right: 47%;
  }
  @include bp(large_screen){
    margin-right: 56%;
  }
}

.nav li {
  padding: 3px 0px 0px 5px;
  font-weight: $font-weight--bold;
  font-family: $stack-garamond;
  @include bp(tablet){
    padding: 5px 10px 10px 10px;
    font-size: $font_size__h4;
  }
}

.nav a {
  transition: all .5s;
  &:hover{
    color: lighten($red, 30%);
  }
}



header {
  text-align: center;
/*  background: url('../img/studiocountrybest.jpg') no-repeat top center;*/
  background-size: cover;
  background-position:top;
  overflow: hidden;
  padding-top: 20px;
  height: 350px;
  max-width: 100%;
  opacity: 0.7;
  &:hover{
    opacity: 0.8;
  }
  @include bp(tablet){
    padding-top: 60px;
    min-height: 470px;
}
@include bp(large_screen){
  min-height: 870px;
}


}

#overlay > #page--scrolling {
    position: fixed;
    top: 100px;
    left: 0;
    height: 5px;
    width: 0;
    z-index: 1;
    // background: #ce22c5;
    // background: -moz-linear-gradient(-45deg, rgba(206, 34, 197, 0.85) 0%, rgba(0, 247, 255, 0.85) 100%);
    // background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(206, 34, 197, 0.85)), color-stop(100%, rgba(0, 247, 255, 0.85)));
    // background: -webkit-linear-gradient(-45deg, rgba(206, 34, 197, 0.85) 0%, rgba(0, 247, 255, 0.85) 100%);
    // background: -o-linear-gradient(-45deg, rgba(206, 34, 197, 0.85) 0%, rgba(0, 247, 255, 0.85) 100%);
    // background: -ms-linear-gradient(-45deg, rgba(206, 34, 197, 0.85) 0%, rgba(0, 247, 255, 0.85) 100%);
    // background: linear-gradient(135deg, rgba(206, 34, 197, 0.85) 0%, rgba(0, 247, 255, 0.85) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce22c5', endColorstr='#00f7ff', GradientType=1);
    //
    background: rgba(207,45,16,1);
    background: -moz-linear-gradient(left, rgba(207,45,16,1) 0%, rgba(246,41,12,0.99) 30%, rgba(207,154,39,0.97) 79%, rgba(232,218,204,0.96) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(207,45,16,1)), color-stop(30%, rgba(246,41,12,0.99)), color-stop(79%, rgba(207,154,39,0.97)), color-stop(100%, rgba(232,218,204,0.96)));
    background: -webkit-linear-gradient(left, rgba(207,45,16,1) 0%, rgba(246,41,12,0.99) 30%, rgba(207,154,39,0.97) 79%, rgba(232,218,204,0.96) 100%);
    background: -o-linear-gradient(left, rgba(207,45,16,1) 0%, rgba(246,41,12,0.99) 30%, rgba(207,154,39,0.97) 79%, rgba(232,218,204,0.96) 100%);
    background: -ms-linear-gradient(left, rgba(207,45,16,1) 0%, rgba(246,41,12,0.99) 30%, rgba(207,154,39,0.97) 79%, rgba(232,218,204,0.96) 100%);
    background: linear-gradient(to right, rgba(207,45,16,1) 0%, rgba(246,41,12,0.99) 30%, rgba(207,154,39,0.97) 79%, rgba(232,218,204,0.96) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf2d10', endColorstr='#e8dacc', GradientType=1 );
}


#overlay > #page--scrolling #page--scrolling-perc {
    float: right;
    width: 80px;
    margin-top: 5px;
    color: #FFF;
    font-weight: 700;
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #000;
    padding: 5px;
    text-align: center;
}

/*Image Slider/Banner*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img {
  width: 20%;
  float: left;

}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;

  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;

}
