/* Global Layout Set-up */
* {
  @include border_box;
}

body {
  margin: 0;
  padding: 0;
  /*text-align: center;*/
  font-family: 'Open Sans', sans-serif;
  color: $sage;
  background: #2d2b30;
  max-width: 100%;

}
/* #toggle_class keeps margin between nav and section flush
   when nav is toggled on and off with sticky header nav */

#toggle_class{
  content: "";
  height: 0px;
  display: none;
}

#show-bio a:hover{
 /*color: lighten($red, 30%);*/
}
#bio{
  @include flex;
  @include flex_column;
  @include flex_justify_center;
  @include flex_align_items--center;
  width: 90%;
  margin-top: 25%;
  margin-left: 5%;
  overflow: scroll;
  color: $sand;
  @include bp(tablet){
    margin-top: 10%;
  }
  @include bp(fullscreen){
    padding-bottom: em(50px);
  }

}

/* Link Styles */

a {
  text-decoration: none;
  color: $sand;
}

a:hover {
  color: #999;
}

/*img#studiointhecountry{*/
/*  height: 220px;
  @include bp(tablet){
    height: 250px;
  }
}*/
/* Section Styles */



/*.tag {
  color: black;
  padding: 10px;
  letter-spacing: 5px;
}*/

.name{
  font-weight: 300;
}

/*header .name{
  font-size: 3em;
}*/
/*.tagline {
  font-weight: 600;
  padding: 20px;
  text-transform: uppercase;
  color: #781125
}*/



.title{
  height: 90px;
  width: auto;
  transition: transform .4s ease-out;
  font-size: $font_size__h5;
  margin-top: em(70px);
  @include bp(tablet){
  font-size: $font-size__bannerTitle;
  text-indent: -9999px;
}
}

.title:hover{
  /*@include animation_spin;*/
  -webkit-transform: scale3d(2.1, 2.1, 2.1);
  transform: scale3d(2.1, 2.1, 2.1);

}

.subTitle{
  color: lighten($mustard, 35%);
  margin-top: em(10px);
  font-size: $base__font-size;
  @include bp(tablet){
  font-size: $font-size__h4;
  margin-top: em(140px);
  text-indent: -9999px;
}
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
  border-top: 4px solid #781125;
  clear: both;
  @include bp(tablet){
    .card{
      margin: 40px auto;
      padding: 20px 40px 40px;
      width: 80%;
      /*max-width: 1000px;*/
    }
  }
  @include bp(mobile_small){
    margin: em(20px) em(0px);
  }
}
.card:hover {
  border-color: #96731A;
}

.information{
@include bp(tablet){
  margin-top: em(-100px);
}

}

img{
  max-width: 100%;
}

#album{
  @include bp(tablet){
    height: em(300px);
  }
  @include bp(fullscreen){
    height: em(400px);
  }
}

#sonisphere{
  @include bp(tablet){
    height: em(250px);
  }
  @include bp(fullscreen){
    height: em(320px);
  }
  @include bp(large_screen){
    height: em(380px);
    margin-top: em(30px);
  }
}

.photo{
  /*display: block;*/
  max-width: 100%;
/*  height: auto;*/
  margin: 0 auto;
  opacity: 0.8;
  border: 5px solid #828a83;
  &:hover{
    @include transitionScale;
    opacity: 1;
  }
}



.information{
  width: 100%;
  text-align: center;
  /*display: inline-block;
  position: absolute;*/
}

.heading{
  font-size: 1.5em;
  text-transform: uppercase;
  color: $sand;
  margin-top: em(30px);

}

.headingContrast{

  color: #ED3E0F;

}

.rotator {
  position: relative;
  overflow-y: hidden;
  min-height: 2.75ex;
}
.rotator__item {
  position: absolute;
  margin-right: 20px;
  padding-left: em(10px);
  -webkit-transform: translate3d(0, 0, 0, 0);
}
/* Use with rotateBanner keyframes starting on line 82 of _keyframes.scss*/
.rotator__item:nth-child(1) {
  -webkit-animation: rotateBanner 6.5s infinite;
          animation: rotateBanner 6.5s infinite;
}
.rotator__item:nth-child(2) {
  -webkit-animation: rotateBanner 6.5s 1.625s infinite;
          animation: rotateBanner 6.5s 1.625s infinite;
}
.rotator__item:nth-child(3) {
  -webkit-animation: rotateBanner 6.5s 3.25s infinite;
          animation: rotateBanner 6.5s 3.25s infinite;
}
.rotator__item:nth-child(4) {
  -webkit-animation: rotateBanner 6.5s 4.875s infinite;
          animation: rotateBanner 6.5s 4.875s infinite;
}

.centerHeading{
  @include flex;
  @include flex_justify_center;
  @include bp(tablet){
    @include flex_justify_start;
    margin-left:10%;
  }
  @include bp(large_screen){
    margin-left: 15%;
  }


}

.flex{
  @include flex;
  @include flex_column;
  @include flex_align_items--center;
  @include bp(tablet){
    @include flex;
    @include flex_row;
    @include flex_justify_space_around;
    /*max-width: 1200px;*/
    -ms-flex-pack: distribute;
  }
}
.buy{
 margin-left: em(-50px);
}

.flex2{
  margin-bottom: em(100px);
}

#studiointhecountry{
  height:400px;
}
