div.tourBorder:nth-child(1){
  margin-top: em(10px);
}

.musicBorder{
  height: em(10px);
  width:100%;
  margin-top: em(10px);
  margin-bottom: 6em;
  border-bottom: 4px solid $red;
    &:hover{
      border-color: #96731A;
    }
    @include bp(tablet){
      margin-bottom: 3em;
    }
}

.flexMusic{
  @include flex;
  @include flex_column;
  @include flex_align_items--center;
  margin-top: -4em;
  @include bp(fullscreen){
    margin-bottom: em(80px);
  }
  @include bp(large_screen){
    @include flex_column;


  }
}

#music{
  margin-bottom: em(60px);
}
main{
  overflow-y: scroll;
}
