/* Tour page styles */

pre {
  font-family: 'Open Sans', sans-serif;
}

.heading{
/*  display: inline-block;
  margin: 0;*/
}
main{
  margin-bottom: em(100px);
}
.flexTour{
  @include flex;
  @include flex_column;
  @include flex_align_items--center;
  margin-top: em(-30px);
  @include bp(fullscreen){
    margin-bottom: em(80px);
  }
  @include bp(large_screen){
    @include flex_column;


  }
}

#headerPics{
  @include flex;
  margin: 3em auto;

}
.tourHead{
  display: inline-block;
  margin-top: em(10px);
}

.tourBorder{
  height: em(10px);
  width:100%;
  margin-top: em(-30px);
  margin-bottom: 6em;
  border-bottom: 4px solid $red;
    &:hover{
      border-color: #96731A;
    }
    @include bp(tablet){
      margin-bottom: 3em;
    }
}
#tourCaption{
  display: none;
}

.pick{
  width: em(55px);
  height: em(60px);
  padding: em(4px);
}

div.comingSoon:nth-child(3){
  margin-top: em(-30px);
  @include bp(tablet){
    margin-top: em(10px);
  }
}
.comingSoon{
  font-size: $font_size__h4;
  margin: em(10px) auto;
  max-width: 90%;
  text-align: center;


}

#tour_table{
  width: em(353px);
  margin-bottom: em(120px);
  @include bp(mobile_small){
    width: em(310px);
  }
  @include bp(tablet){
    width: em(750px);
    margin-left: 17%;
  }
  @include bp(fullscreen){
    width: em(910px);

  }


}

thead{
  color:$red;
  text-align: left;
  @include bp(tablet){

    text-transform: uppercase;
    text-decoration: underline;

  }
  @include bp(fullscreen){

    text-transform: uppercase;
    text-decoration: underline;

  }
}

tbody{
  @include bp(fullscreen){
    margin-top: em(20px);
  }
}

#submit{
  display: none;
}
